<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">


    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <title>HowdyWorld!</title>
    <link rel = "stylesheet" href ="{{ url_for('static',filename='style.css')}}">

</head>
<body>
   <div class="intro">
        <h1 class="logo-header">
            <span class="logo">howdy</span><span class="logo">World!</span>
        </h1>
    </div>
    <div class="menu">
        <h2 class="">

        </h2>
    </div> 

    


    <div class="flexbox">
        <div class="search">
          <h1>howdyWorld!</h1>
            <h3>Click on the circle, enter your destination. <br> It's that easy. </h3>
                <div>
                    <form method="post">
                        <input name="text">
                        <input type="submit">
                    <!--<input type="text" id="gdg" placeholder="City, Country" required>-->
                    </form>
                </div>
            <button class="luck">
            <i>feeling oily?</i>
            </button>
        </div>
    </div> 

      <script src="{{url_for('static', filename='app.js')}}"></script>

</body>
</html>